<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Pflanze Hinzufügen"></Label>
</ActionBar>

<StackLayout class="main" verticalAlignment="top" marginTop="25">



    <ScrollView class="anim-images" orientation="horizontal">
        <StackLayout orientation="horizontal" class="">
            <GridLayout *ngFor="let imageString of imageURLs" rows="auto"
                        columns="*">
                <Image class="card-img-thumb" row="0" col="0" [src]="imageString"
                       stretch="aspectFill"></Image>
            </GridLayout>
        </StackLayout>
    </ScrollView>

    <ScrollView class="page m-r-5 m-l-5">
    <StackLayout class="home-panel form input-field" marginTop="25">

        <Label text="Name" class="text-secondary font-weight-bold" marginTop="5"></Label>
        <TextField [(ngModel)]="name" hint="Name der Pflanze..." class="input input-border"></TextField>

        <Label text="Art" class="text-secondary font-weight-bold" marginTop="5" marginBottom="-40"></Label>
        <ListPicker [items]="species" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker>

        <Label text="Alter" class="text-secondary font-weight-bold" marginTop="5" marginBottom="-40"></Label>
        <ListPicker [items]="ages" selectedIndex="0" (selectedIndexChange)="selectedIndexChangedAge($event)" class="p-15"></ListPicker>

        <Button text="Speichern" (tap)="savePlant()" class="btn btn-primary"></Button>

    </StackLayout>
</ScrollView>


</StackLayout>