<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Home', iconSource: getIconSource('homeAlt')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
            *tabItem="{title: 'Historie', iconSource: getIconSource('histo')}"
            name="historyTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Konfiguration', iconSource: getIconSource('config')}"
        name="configTab">
    </page-router-outlet>

</TabView>